<h1>Любимые</h1>
<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="emojis">

    
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Имя </th>
      <td mat-cell *matCellDef="let emojis"> {{emojis.title}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Ссылка </th>
      <td mat-cell *matCellDef="let emojis"><a href = "{{emojis.url}}">{{emojis.url}}</a></td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Превью </th>
      <td mat-cell *matCellDef="let emojis"><a class="preview" href ="{{emojis.url}}" target="_blank" title><img class="thumb" src="{{emojis.url}}"></a></td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let emojis">
        <button (click)="unlikeEmoji(emojis)"><mat-icon>clear</mat-icon></button>
     </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>